:root {
  --main-color: #1793b9;
}

ul.primeroNavMenu {
  list-style: none;
  a {
    margin: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  a,
  a:visited {
    color: #3d4852;
  }
  a:hover {
    color: var(--main-color);
  }
}

.userStatus a:hover {
  color: inherit;
}

.coloredBG {
  background-color: var(--main-color);
}

.d-header #site-logo,
.d-header {
  height: 100%;
}
.d-header {
  display: flex;
  flex-direction: column;
}

.d-header > .wrap {
  max-width: 100%;
}

.rightBorder {
  border-right: 2px solid #71726d;
}

.userStatus a:visited {
  color: #fff;
}

.popup {
  max-width: 40rem;
  max-height: 100%;
  font-family: "Source Sans Pro";
  border-color: var(--main-color);
}

.close-btn {
  height: 36px;
}

.btn-link,
.btn-link:visited {
  color: white;
}

.promotion-table > tbody > tr > td {
  padding: 0.25rem;
  vertical-align: top;
  line-height: 1.5;
  border-top-width: 1px;
  border-style: solid;
  border-color: #71726d;
}

.promotion-table > tbody > tr:nth-of-type(odd) {
  background-color: #dae1e7;
}

.promotion-table > tbody > tr {
  border-width: 0;
}

.promotion-table > thead > tr > th {
  padding: 0.25rem;
  vertical-align: bottom;
  line-height: 1.5;
}
